body {
    min-height       : 99vh;
    padding          : 5%;
    background-color : aliceblue;
}

main {
    padding-bottom : 8%;
}

article {
    padding : 1.5%;
}

legend {
    font-weight : bold;
}

form input {
    display : block;
}

h2 {
    font-weight : bold;
}

code {
    background-color : #DDDDDD;
}

footer {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : space-around;
    width           : 100%;
    height          : 8%;
    background      : #B3BAC3;
    position        : fixed;
    bottom          : 0;
    left            : 0;
}

nav {
    width : 10%;
}

form {
    width : 250px;
}

.form-button {
    max-width : 100px;
}

.top {
    background-color : white;
    width            : 40%;
    text-align       : center;
    padding          : 1.5%;
    margin           : auto;
}

.ease-out {
    outline        : 5px dotted rgba(116, 119, 164, 0.5);
    outline-offset : -5px;
    transition     : all 0.5s ease-out;
}

.ease-out:hover {
    background-color : rgba(128, 128, 128, 0.5);
}

.vertical-space-between {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.side-by-side {
    display         : flex;
    flex-direction  : row; /*default, but just in case*/
    justify-content : space-around;
    flex            : 1 1 auto;
}

.side-by-side > * {
    margin : 1%;
}

.img-link {
    width      : auto;
    height     : 90px;
    margin     : auto;
    text-align : center;
}

.to-top {
    background-color : aliceblue;
    padding          : 6px;
}

.code {
    background-color : #DDDDDD;
    font-family      : consolas, 'DejaVu Sans Mono', courier, monospace;
}

.list-option {
    min-width : 100px;
    position  : sticky;
    top       : 20px;
}

.list-option > li {
    list-style-type : none;
    position        : relative;
}

.list-option > li::before {
    content     : '</>';
    font-weight : bold;
    position    : absolute;
    left        : -2em;
    font-size   : 1em;
}

.space-above {
    margin-top : 10%;
}

.page-header {
    width       : 90%;
    margin      : auto;
    background  : #DADEE5;
    align-items : center;
}

.js-invalid {
    border : solid 2px red;
}

.js-valid {
    border : solid 2px lime;
}

.warning {
    margin-top : 0;
    color      : red;
}

/*
thanks to https://stackoverflow.com/users/2217862/jakub-jirutka 's answer
at https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1
~~~~~~ tiered ordered lists ~~~~~~
 */

ol {
    list-style-type : none;
    counter-reset   : item;
    margin          : 0;
    padding         : 0;
}

ol > li {
    display           : table;
    counter-increment : item;
    margin-bottom     : 0.6em;
}

ol > li:before {
    content       : counters(item, ".") ". ";
    display       : table-cell;
    padding-right : 0.6em;
}

li ol > li {
    margin : 0;
}

li ol > li:before {
    content : counters(item, ".") " ";
}

p + ol {
    margin-top : 1%;
}

/*
^^^^^^ tiered ordered lists ^^^^^^
 */

/*
~~~~~~ link styles ~~~~~~
 */

.link {
    box-shadow      : 0 3px 0 #008080;
    position        : relative;
    text-decoration : none;
    color           : #000000;
}

.link:hover {
    color            : #000000;
    background-color : #EEE4D5;
}

.link:active {
    box-shadow : none;
    top        : 5px;
}

.link:visited {
    color : #000000;
}

/*
^^^^^^ link styles ^^^^^^
 */

@media all and (max-width : 768px) {
    .side-by-side {
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : space-evenly;
    }

    .side-by-side > * {
        margin-top : 20px;
    }
}
