html {
    border           : solid 2px green;
    height           : 100%;
    background-color : #CED5D8;
}

main {
    padding-bottom : 8%;
}

article {
    padding : 1.5%;
}

#top, .top {
    border     : solid 2px pink;
    width      : 40%;
    margin     : auto;
    text-align : center;
}

.prog-lang-title {

    /*make it big*/
}

.side-by-side {
    border          : solid 2px red;
    display         : flex;
    flex-direction  : row; /*default, but just in case*/
    justify-content : space-evenly;
    flex            : 1 1 auto;
}

.side-by-side > * {
    border : solid 2px cyan;
    margin : 1%;
}

.img-link {
    width      : auto;
    height     : 90px;
    margin     : auto;
    text-align : center;
}

.img-link:hover {
    box-shadow : 8px 4px 2px navy;
}

.to-top {
    background-color : #AAAAAA;
    border           : solid 1px #777777;
    padding          : 6px;
    top              : 12px;
}

form input {
    display : block;
}

code {
    background-color : #DDD;
}

.code {
    background-color : #DDD;
    font-family      : monospace;
}

/*
thanks to https://stackoverflow.com/users/2217862/jakub-jirutka 's answer
at https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1
~~~~~~ tiered ordered lists ~~~~~~
 */
ol {
    list-style-type : none;
    counter-reset   : item;
    margin          : 0;
    padding         : 0;
}

ol > li {
    display           : table;
    counter-increment : item;
    margin-bottom     : 0.6em;
}

ol > li:before {
    content       : counters(item, ".") ". ";
    display       : table-cell;
    padding-right : 0.6em;
}

li ol > li {
    margin : 0;
}

li ol > li:before {
    content : counters(item, ".") " ";
}

p + ol {
    margin-top : 1%;
}

/*
^^^^^^ tiered ordered lists ^^^^^^
 */
/*
~~~~~~ link styles ~~~~~~
 */
.link {
    box-shadow      : 0 3px 0 #008080;
    position        : relative;
    text-decoration : none;
    color           : #000000;
}

.link:hover {
    color            : #000000;
    background-color : #EEE4D5;
}

.link:active {
    box-shadow : none;
    top        : 5px;
}

.link:visited {
    color : #000000;
}

/*
^^^^^^ link styles ^^^^^^
 */
#titre-sommaire {
    font-size        : 290%;
    font-family      : serif;
    margin           : auto;
    text-align       : center;
    width            : 65%;
    background-color : #FFFFFF;
    border           : solid 2px violet;
}

#sommaire {
    border    : solid 2px yellow;
    padding   : 3%;
    font-size : 150%;
    width     : 40%;
    margin    : auto;
}

/*.list-option {*/
/*    border           : solid 2px purple;*/
/*    list-style       : url('../img/puce-liste.svg');*/
/*    font-family      : serif;*/
/*    margin           : auto;*/
/*    background-color : #FFFFFF;*/
/*    font-size   : 230%;*/
/*    width       : 65%;*/
/*    line-height : 40px;*/
/*}*/

.list-option {
    min-width : 100px;
}

.list-option > li {
    list-style-type : none;
    position        : relative;
}

.list-option > li::before {
    content     : '</>';
    font-weight : bold;
    position    : absolute;
    left        : -2em;
    font-size   : 1em;
}


.newsletter {
    border : solid 2px lime;
}

.newsletterbox {
    border : solid 2px red;
}

.contour {
    border : solid 2px orange;
}

.champ-recherche {
    border : solid 2px cyan;
}

.bouton-nl {
    border : solid 2px blue;
}

footer {
    width      : 100%;
    height     : 8%;
    background : #B3BAC3;
    position   : fixed;
    bottom     : 0;
    left       : 0;
}

.js-invalid {
    border : solid 2px red;
}

.js-valid {
    border : solid 2px lime;
}

@media all and (max-width : 768px) {
    .side-by-side {
        border         : solid 2px red;
        display        : flex;
        flex-direction : column;
    }
}
