html {
    border           : solid 2px green;
    height           : 150%;
    background-color : #CED5D8;
}

.top {
	border : solid 2px pink;
	width : 40%;
	margin : auto;
	text-align : center;
}

.prog-lang-title {

    /*make it big*/
}

.side-by-side {
    border          : solid 2px red;
    display         : flex;
    flex-direction  : row; /*default, but just in case*/
    justify-content : space-evenly;
}

.side-by-side > * {
    border : solid 2px cyan;
    margin : 1%;
}

.img-link:hover {
    border     : solid 1px black;
    box-shadow : 8px 4px 2px navy;
}

.to-top {
    background-color : #AAAAAA;
    border           : solid 1px #777777;
    padding          : 5px;
}

input{
	display: block;
}

.required:after{
	border : solid 2px red;
	content:" *";
	color: red;
}

#sommaire {
    font-size        : 290%;
	font-family		 : serif;
    margin           : auto;
    text-align       : center;
    width            : 65%;
    background-color : #fff;
    border           : solid 2px violet;
}

#list {
	border     : solid 2px yellow;
	margin     : auto;
}

#list-option {
	border           : solid 2px purple;
	list-style       : url('../img/puce-liste.svg');
    font-size        : 230%;
	font-family      : serif;
    margin           : auto;
    width            : 65%;
	line-height      : 40px;
    background-color : #fff;
}

.newsletter {
	border : solid 2px lime;
}

.newsletterbox {
	border : solid 2px red;
}

.contour {
	border : solid 2px orange;
}

.champ-recherche {
	border : solid 2px cyan;
}

.bouton-nl {
	border : solid 2px blue;
}

footer {
    width      : 100%;
    height     : 8%;
    background : #B3BAC3;
    position   : fixed;
    bottom     : 0;
    left       : 0;
}

.js-invalid {
	border: solid 2px red;
}

.js-valid {
	border: solid 2px lime;
}

@media screen and (min-width : 1px) and (max-width : 768px) {
    .side-by-side {
        border         : solid 2px red;
        display        : flex;
        flex-direction : column;
    }
}
